html,body{
    margin: 0;
    height: 100%;
    font-family: "lato", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;

}

.pimg1{
    background: url(images/image1.png);
    min-height: 100%;
    
    
}

.pimg2 {
    background: url(images/image2.png);
    min-height: 400px;



}
.pimg3 {
    background: url(images/image3.png);
    min-height: 400px;


}

.pimg1, .pimg2, .pimg3{
        position: relative;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
}

.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;

}
.textBg{
    background: #312534;
    color: #fff;
    padding: 20px;

}

.section{
    padding: 50px 80px;
    text-align: center;

}
.section-light{
    background-color: #f4f4f4;
    color: #666;

}
.section-dark{
    background-color: #282e34;
    color: #ddd;
}